<h1>New Documents Order</h1>



<% if current_user %>
        <%= render 'form', order: @order %>
    <%else%>
        <p> Please Register or Login as a Resident  </p>
        <%= link_to 'Sign up', new_user_registration_path %>
        <%= link_to 'Sign in', new_user_session_path %>
    <%end%>



<%= link_to 'Back', orders_path %>
